<div class='demo-app'>

    <div class='demo-app-sidebar'>
      <div class='demo-app-sidebar-section'>
        <h2>Instructions</h2>
        
      </div>
      <div class='demo-app-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions.weekends'
          />
          toggle weekends
        </label>
      </div>
    </div>
  
    <div class='demo-app-main'>
      <full-calendar
        [options]='calendarOptions'
      ></full-calendar>
    </div>
  
  </div>